.item-link:nth-child(even) {
    background-color: rgb(219, 219, 219);
}

.info-container {
    padding: 0.5em 1em 0.5em 1em;
}

.product-box:nth-child(even) {
    background-color: rgb(164, 255, 199);
}
.product-box:nth-child(odd) {
    background-color: rgb(164, 255, 255);
}
