
body header 
{
    width: fit-content;
    top: 3%;

    animation: appear-top 500ms forwards; 
    will-change: opacity;
    
    gap: 2em;
    
    background-color: var(--header-dark-charcoal);
    backdrop-filter: blur(5px);

    border-radius: 15px;
    z-index: 5;
}

body header a
{
    padding: 15px 30px 15px 30px;
    border-radius: 15px;
    transition: 500ms;
}
body header a:hover
{
    background-color: rgb(59, 59, 59);
}
