.active {
    background-color: rgb(43, 226, 217);
}
.nav-btn {
    text-align: center;
    font-size: small;
}
.navigation-container {
    bottom: 0;
}
.navbar-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
