.active {
    background-color: rgb(43, 226, 217) !important;
}
.nav-btn {
    text-align: center;
    font-size: small;
    background-color: aliceblue;
}
.navigation-container {
    bottom: 0;
}
.navbar-container {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
