@import url(./keyframes.css);
@import url(./colors.css);
@import url(./utils.css);
@import url(./components/header.css);
@import url(./components/_home.css);
@import url(./components/_clients.css);
@import url(./components/navigation.css);

* {
    margin: 0;
    scroll-behavior: smooth;
}

:root {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
}
