
/* ===================== MARGIN ===================== */
.margin-auto { margin: auto; }

.margin-0 { margin: 0; }
.margin-1 { margin: 1em; }
.margin-2 { margin: 2em; }
.margin-3 { margin: 3em; }
.margin-4 { margin: 4em; }
.margin-5 { margin: 5em; }

.margin-top-0 { margin-top: 0; }
.margin-top-1 { margin-top: 1em; }
.margin-top-2 { margin-top: 2em; }
.margin-top-3 { margin-top: 3em; }
.margin-top-4 { margin-top: 4em; }
.margin-top-5 { margin-top: 5em; }

.margin-bottom-0 { margin-bottom: 0; }
.margin-bottom-1 { margin-bottom: 1em; }
.margin-bottom-2 { margin-bottom: 2em; }
.margin-bottom-3 { margin-bottom: 3em; }
.margin-bottom-4 { margin-bottom: 4em; }
.margin-bottom-5 { margin-bottom: 5em; }

.margin-left-0 { margin-left: 0; }
.margin-left-1 { margin-left: 1em; }
.margin-left-2 { margin-left: 2em; }
.margin-left-3 { margin-left: 3em; }
.margin-left-4 { margin-left: 4em; }
.margin-left-5 { margin-left: 5em; }

.margin-right-0 { margin-right: 0; }
.margin-right-1 { margin-right: 1em; }
.margin-right-2 { margin-right: 2em; }
.margin-right-3 { margin-right: 3em; }
.margin-right-4 { margin-right: 4em; }
.margin-right-5 { margin-right: 5em; }

/* ===================== PADDING ===================== */
.padding-1 { padding: 1em; }
.padding-2 { padding: 2em; }
.padding-3 { padding: 3em; }
.padding-4 { padding: 4em; }
.padding-5 { padding: 5em; }

.padding-top-0 { padding-top: 0; }
.padding-top-1 { padding-top: 1em; }
.padding-top-2 { padding-top: 2em; }
.padding-top-3 { padding-top: 3em; }
.padding-top-4 { padding-top: 4em; }
.padding-top-5 { padding-top: 5em; }

.padding-bottom-0 { padding-bottom: 0; }
.padding-bottom-1 { padding-bottom: 1em; }
.padding-bottom-2 { padding-bottom: 2em; }
.padding-bottom-3 { padding-bottom: 3em; }
.padding-bottom-4 { padding-bottom: 4em; }
.padding-bottom-5 { padding-bottom: 5em; }

.padding-left-0 { padding-left: 0; }
.padding-left-1 { padding-left: 1em; }
.padding-left-2 { padding-left: 2em; }
.padding-left-3 { padding-left: 3em; }
.padding-left-4 { padding-left: 4em; }
.padding-left-5 { padding-left: 5em; }

.padding-right-0 { padding-right: 0; }
.padding-right-1 { padding-right: 1em; }
.padding-right-2 { padding-right: 2em; }
.padding-right-3 { padding-right: 3em; }
.padding-right-4 { padding-right: 4em; }
.padding-right-5 { padding-right: 5em; }

/* ===================== WIDTH ===================== */
.width-auto { width: auto; }
.width-fit-content { width: fit-content; }

.width-100p { width: 100%; }
.width-90p { width: 90%; }
.width-80p { width: 80%; }
.width-100vw { width: 100vw; }
.width-90vw { width: 90vw; }
.width-80vw { width: 80vw; }

.min-width-100p { min-width: 100%; }
.min-width-90p { min-width: 90%; }
.min-width-80p { min-width: 80%; }
.min-width-100vw { min-width: 100vw; }
.min-width-90vw { min-width: 90vw; }
.min-width-80vw { min-width: 80vw; }

/* ===================== HEIGHT ===================== */
.height-auto { height: auto; }
.height-fit-content { height: fit-content; }

.height-100p { height: 100%; }
.height-90p { height: 90%; }
.height-80p { height: 80%; }

.height-100vh { height: 100vh; }
.height-90vh { height: 90vh; }
.height-80vh { height: 80vh; }

.min-height-100p { min-height: 100%; }
.min-height-90p { min-height: 90%; }
.min-height-80p { min-height: 80%; }

.min-height-100vh { min-height: 100vh; }
.min-height-90vh { min-height: 90vh; }
.min-height-80vh { min-height: 80vh; }

/* ===================== DISPLAY ===================== */
.display-none { display: none; }
.display-flex { display: flex; }
.display-block { display: block; }

/* ===================== FLEX ===================== */
.flex-align-start { align-items: flex-start; }
.flex-align-end { align-items: flex-end; }
.flex-align-stretch { align-items: stretch; }

.flex-justify-between { justify-content: space-between; }
.flex-justify-around { justify-content: space-around; }
.flex-justify-evenly { justify-content: space-evenly; }

.flex-align-item-center { align-items: center; }

.flex-justify-item-center { justify-content: center; }
.flex-justify-item-start { justify-content: flex-start; }
.flex-justify-item-end { justify-content: flex-end; }

.flex-direction-column { flex-direction: column; }

.flex-wrap { flex-wrap: wrap; }
.flex-nowrap { flex-wrap: nowrap; }

.flex-center-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===================== POSITION ===================== */
.absolute { position: absolute; }
.relative { position: relative; }
.fixed { position: fixed; }
.sticky { position: sticky; }

/* ===================== TOP ===================== */
.top-0 { top: 0em; }
.top-1 { top: 1em; }
.top-2 { top: 2em; }
.top-3 { top: 3em; }
.top-4 { top: 4em; }
.top-5 { top: 5em; }

/* ===================== COLORS ===================== */
.color-black { color: black; }
.color-white { color: white; }
.bg-black { background-color: black; }
.bg-white { background-color: white; }
.bg-transparent { background-color: transparent; }

/* ===================== TEXT ===================== */
.text-align-left { text-align: left; }
.text-align-right { text-align: right; }
.text-align-center { text-align: center; }
.text-align-justify { text-align: justify; }

.text-decoration-none { text-decoration: none; }

.text-uppercase { text-transform: uppercase; }
.text-lowercase { text-transform: lowercase; }
.text-capitalize { text-transform: capitalize; }

.child-links-text-decoration-none a { text-decoration: none; }
.child-color-black a { color: black; }
.child-color-white a { color: white; }

/* ===================== BORDER ===================== */
.border-radius-5 { border-radius: 5px; }
.border-radius-10 { border-radius: 10px; }
.border-radius-15 { border-radius: 15px; }
.border-radius-20 { border-radius: 20px; }
.border-radius-25 { border-radius: 25px; }
.border-radius-30 { border-radius: 30px; }
.border-radius-35 { border-radius: 35px; }
.border-radius-40 { border-radius: 40px; }
.border-radius-45 { border-radius: 45px; }
.border-radius-50 { border-radius: 50px; }

/* ===================== GAP ===================== */
.gap-1 { gap: 1em; }
.gap-2 { gap: 2em; }
.gap-3 { gap: 3em; }
.gap-4 { gap: 4em; }
.gap-5 { gap: 5em; }

/* ===================== FONT SIZE ===================== */
.font-size-1 { font-size: 1em; }
.font-size-2 { font-size: 2em; }
.font-size-3 { font-size: 3em; }
.font-size-4 { font-size: 4em; }
.font-size-5 { font-size: 5em; }

/* ===================== Z-INDEX ===================== */
.z-index-0 { z-index: 0; }
.z-index-1 { z-index: 1; }
.z-index-2 { z-index: 2; }
.z-index-3 { z-index: 3; }
.z-index-4 { z-index: 4; }
.z-index-5 { z-index: 5; }

/* ===================== OPACITY ===================== */
.opacity-0 { opacity: 0; }
.opacity-20 { opacity: 0.2; }
.opacity-40 { opacity: 0.4; }
.opacity-60 { opacity: 0.6; }
.opacity-80 { opacity: 0.8; }
.opacity-100 { opacity: 1; }

/* ===================== TEXT-ALINGN ===================== */
.text-align-left { text-align: left; }
.text-align-right { text-align: right; }
.text-align-center { text-align: center; }
.text-align-justify { text-align: justify; }

/* ===================== TEXT-TRANSFORM ===================== */
.text-uppercase { text-transform: uppercase; }
.text-lowercase { text-transform: lowercase; }
.text-capitalize { text-transform: capitalize; }

/* ===================== BOX-SIZING ===================== */
.box-border { box-sizing: border-box; }
.box-content { box-sizing: content-box; }


